<section class="history-page-holder">
	<div class="container">
		<div class="row">
			<div class="history-page-side-nav col-12">
				<select class="form-control form-control-md" [(ngModel)]="selectedYear" (change)='getPaymentByYear();'>
					<option *ngFor="let key of years">{{key}}</option>
				</select>
			</div>
		</div>
		<div class="history-page-holder__content">
			<div class="row">
			  <div class="col-lg-6 col-md-10 col-sm-12 mb-5" *ngFor="let key of historyDisplay">
					<div class="utility-holder">
						<div class="row"> 
							<h3 class="card-title col-12">{{ key.month | month }}</h3>
							<div class="utility-holder__left-side col-6">
								<h5>Utilities</h5>
								<ul>
									<div class="if-holder" >
										<li *ngFor = "let i of key.payments">{{i.utilityName}}</li>
										<li><strong>All</strong></li>
									</div>
								</ul>	
							</div>
							<div class="utility-holder__right-side col-6">
								<h5>Total</h5>
								<ul>
									<div class="if-holder" >
										<li *ngFor = "let i of key.payments">{{i.amountPayment}}</li>
										<div class="if-holder" *ngFor="let u of totalByMonth">
											<li *ngIf="key.month===u.month"><strong>{{u.totalOfMonth}}</strong></li>
										</div>		
									</div>
								</ul>	
							</div>
						</div>
					</div>
			  </div>
		  </div>
		</div>
	</div>
</section>

