.history-section
  .container
    .history-section-select
      text-align: center
      select
        font-size: 1.1rem
        width: 200px
        text-align: right
  .history-section-holder
    .history-section-holder-utility
      overflow: auto
      min-height: 330px
      max-height: 330px
      text-align: left
      background-color: #fff
      padding: 20px 60px
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
      h5
        color: darken(#D7DADC,20%)
        font-size: 24px
        text-align: left
        margin-bottom: 15px
      &:hover
        transition: all 0.4s ease
        transform: scale(1.03)
        background-color: lighten(#719DCA,15%)
        h3,p,h5
          transition: all 0.4s ease
          color: #fff !important
      .history-section-utility__left-side,.history-section-utility__right-side
        ul
          list-style-type: none
          margin-top: 20px
          li
            font-size: 1.1rem
            text-align: left
            margin-left: 40px
            margin-bottom: 20px
          li.strong
            font-weight: 700
    .history-section-utility__card-title
      h3
        text-align: left
        font-size: 35px
        margin-bottom: 25px
        padding-bottom: 10px
        color: darken(#D7DADC,20%)
        border-bottom: 1px solid #719DCA
		.history-section-utility__left-side
			border-right: 1px solid #719DCA
			height: 100%


.modal-modal-header
  h4
    font-size: 25px

.modal-body
	padding: 10px 20px
	margin: 20px 0 10px 0
	button
		margin: 50px 10px 0 10px
		width: 120px
		&:hover
			width: 120px

@media only screen and (max-width : 520px)
  .history-section-holder-utility
    padding: 15px 30px !important
    h3
      font-size: 25px !important
    h5
      font-size: 20px !important
