<section class="pay-section">
	<div class="container">
		<div class="pay-section-holder">
			<div class="row" >

			  <div class="col-12 mb-5 animated fadeIn mx-auto" *ngFor="let utility of utilities"
             [ngClass]="{ 'col-lg-6': utilities.length !== 1,
                     'col-lg-12': utilities.length === 1 }">
			    <div class="utility-holder utility-holder--variable" *ngIf = "utility.fixedPaymentIndicator===false">

			    	<div class="utility-holder-header">
				    	<h3 class="card-title">{{utility.utilityName}}</h3>
				    </div>

			    	<div class="row utility-holder-content" (focusout) = "totalCalculation = 0;">

				      <div class="utility-holder-content__left-side col-12 col-sm-6 mb-5 mb-sm-0">
				      	<h5 class="utility-holder-content__header">Direct Payment</h5>

                <input #amountOfPaymentVariable
                [ngClass]="{'invalid': appliesValidationErrorToSelectedUtility(validatorVariablePaymentAmount[0],utility.utilityName)}"
                (keyup) = "formValidationVariablePayment(amountOfPaymentVariable.value,utility.utilityName);"
                placeholder="Enter Payment Amount"
                [value]="setAmountOfPaymentValueAfterCalculation(utility.utilityName) ? totalCalculation : ''"
                class="form-control variablePaymentInput"
                type="number" >

				        <div class="error"
                     [ngClass]="{ 'show': appliesValidationErrorToSelectedUtility(validatorVariablePaymentAmount[0],utility.utilityName),
                     'hide': !(appliesValidationErrorToSelectedUtility(validatorVariablePaymentAmount[0],utility.utilityName)) }">
                  {{validatorVariablePaymentAmount[1]}}
				        </div>

			        	<div class="datepicker">
			    				<p class="datepicker__year">{{currentYear}}</p>
			    				<select class="custom-select month-datepicker" #dateVariable>
			    					<option selected>{{currentMonth + 1 | month}}</option>
			    					<option>{{currentMonth | month}}</option>
			    				</select>
			    			</div>

			    			<ng-template #confirmVariablePaymentAdd>
			    				<div class="modal-header">
			    					<h4 class="modal-title">Payment Confirmation</h4>
			    				</div>
			    				<div class="modal-body text-center">
			    					<h6 class="text-left modal-body-text">Do you want to make payment for this requisites:</h6>
			    					<div class="detail-item text-left"><span>Payment amount:</span><p class="detail-item-data">{{+amountOfPaymentVariable.value}}$</p></div>
			    					<div class="detail-item text-left"><span>Date:</span><p class="detail-item-data">{{dateVariable.value}} {{currentYear}}</p></div>
			    					<div class="detail-item text-left"><span>Utility:</span><p class="detail-item-data">{{utility.utilityName}}</p></div>

			    					<button type="button" class="button modal-button" (click)="addPayment(+amountOfPaymentVariable.value,
			    					utility.utilityName,
			    					dateVariable.value);
			    					modalRef.hide();
			    					amountOfPaymentVariable.value='';">Yes</button>

			    					<button type="button" class="button modal-button" (click)="modalRef.hide();amountOfPaymentVariable.value='';">No</button>
			    				</div>
			    			</ng-template>

			    			<ng-template #confirmVariablePaymentUpdate>
			    				<div class="modal-header">
			    					<h4 class="modal-title">Payment Update Confirmation</h4>
			    				</div>
			    				<div class="modal-body text-center">
			    					<h6 class="text-left modal-body-text">You have already did payment with entered requisites:</h6>
			    					<div class="detail-item text-left"><span>Amount:</span><p class="detail-item-data">{{paymentAmount}}$</p></div>
			    					<div class="detail-item text-left"><span>Date:</span><p class="detail-item-data">{{dateVariable.value}} {{currentYear}}</p></div>
			    					<div class="detail-item text-left"><span>Utility:</span><p class="detail-item-data">{{utility.utilityName}}</p></div>
			    				</div>
			    				<div class="modal-footer text-center">
			    					<h6 class="text-left modal-footer-text">Do you want to make additional payment?</h6>
			    					<div class="detail-item text-left"><span>Payment amount:</span><p class="detail-item-data">{{+amountOfPaymentVariable.value}}$</p></div>

                    <button type="button" class="button modal-button" (click)="updatePayment(+amountOfPaymentVariable.value,
                    utility.utilityName,
                    dateVariable.value);
			    					modalRef.hide();
			    					amountOfPaymentVariable.value='';">Yes</button>

			    					<button type="button" class="button modal-button" (click)="modalRef.hide();amountOfPaymentVariable.value='';">No</button>
			    				</div>
			    			</ng-template>

				        <button id="VariablePriceButton"
                        [ngClass]="{'cursor-off': disableButtonOnFailedValidation(validatorVariablePaymentAmount[0],amountOfPaymentVariable.value)}"
                        type="submit" class="button"
                        (click) = "decideWhichConformationModalOpen(+amountOfPaymentVariable.value,
                        utility.utilityName,
                        dateVariable.value,
                        confirmVariablePaymentAdd,
                        confirmVariablePaymentUpdate);">Pay</button>

				      </div>

				      <div class="utility-holder-content__right-side col-12 col-sm-6">
				      	<h5 class="utility-holder-content__header">Calculation</h5>

				      	<input class="form-control calculationInput"
				      	(keyup) = "formValidationVariableCalculation(counterForThisMonth.value,utility.utilityName);"
				      	[ngClass]="{'invalid':  appliesValidationErrorToSelectedUtility(validatorVariableCalculation[0],utility.utilityName)}"
				      	type="number" placeholder="Current counter amount" #counterForThisMonth
				      	[popover]="calculationHelper"
				      	popoverTitle="Tariffs for utility: {{utility.utilityName}}"
				      	triggers="focus"
				      	placement="top"
				      	>
				      	<ng-template #calculationHelper>
				      		<div class="calculation-helper text-left">
				      			<span>Tariff: {{utility.tariff}}</span><br>
										<span>Previous Counter: {{utility.previousCounter}}</span>
									</div>
				      	</ng-template>

				      	<div class="error"
                     [ngClass]="{ 'show': appliesValidationErrorToSelectedUtility(validatorVariableCalculation[0],utility.utilityName),
                     'hide': !(appliesValidationErrorToSelectedUtility(validatorVariableCalculation[0],utility.utilityName)) }">

                  {{validatorVariableCalculation[1]}}
				        </div>
				      	<div class="total-holder">
					      	<p class="total-holder-sign">Total:</p>
					      	<span class="total-holder-amount" *ngIf="selectedUtility===utility.utilityName">{{totalCalculation}}</span>
					      	<span class="total-holder-amount" *ngIf="selectedUtility!=utility.utilityName">{{0}}</span>
				      	</div>

				      	<button type="submit" class="button"
                        [ngClass]="{'cursor-off': disableButtonOnFailedValidation(validatorVariableCalculation[0],counterForThisMonth.value)}"
                        (click) = "calculatePaymentAmount(+counterForThisMonth.value,utility.utilityName);
                        counterForThisMonth.value='';">Calculate</button>
				      </div>
			      </div>

			    </div>

			    <div class="utility-holder utility-holder--fixed col-12" *ngIf = "utility.fixedPaymentIndicator===true">

			    	<div class="utility-holder-header">
			    		<h3 class="card-title">{{utility.utilityName}}</h3>
			    	</div>

			    	<div class="row utility-holder-content">
			    		<div class="utility-holder-content__left-side col-12">

			    			<h5 class="utility-holder-content__header">Direct Payment</h5>

			    			<input type="number" class="form-control fixedPriceInput"
                (focus)="amountOfPaymentFixed.value = utility.tariff.toString()"
			    			(keyup) = "formValidationFixedPayment(amountOfPaymentFixed.value,utility.utilityName);"
			    			[ngClass]="{'invalid': appliesValidationErrorToSelectedUtility(validatorFixedPaymentAmount[0],utility.utilityName)}"
			    			placeholder="Enter payment amount" #amountOfPaymentFixed >

			    			<div class="error"
                     [ngClass]="{ 'show': appliesValidationErrorToSelectedUtility(validatorFixedPaymentAmount[0],utility.utilityName),
                     'hide': !(appliesValidationErrorToSelectedUtility(validatorFixedPaymentAmount[0],utility.utilityName)) }">
                  {{validatorFixedPaymentAmount[1]}}
				        </div>

			    			<div class="datepicker">
			    				<p class="datepicker__year">{{currentYear}}</p>
			    				<select class="custom-select month-datepicker" #dateFixed>
			    					<option>{{currentMonth + 1 | month}}</option>
			    					<option>{{currentMonth | month}}</option>
			    				</select>
			    			</div>

			    			<ng-template #confirmFixedPaymentAdd>
			    				<div class="modal-header">
			    					<h4 class="modal-title">Payment Confirmation</h4>
			    				</div>
			    				<div class="modal-body text-center">
			    					<h6 class="text-left modal-body-text">Do you want to make payment for this requisites:</h6>
			    					<div class="detail-item text-left"><span>Payment amount:</span><p class="detail-item-data">{{+amountOfPaymentFixed.value}}$</p></div>
			    					<div class="detail-item text-left"><span>Date:</span><p class="detail-item-data">{{dateFixed.value}} {{currentYear}}</p></div>
			    					<div class="detail-item text-left"><span>Utility:</span><p class="detail-item-data">{{utility.utilityName}}</p></div>
			    					<button type="button" class="button modal-button"
                            (click)="addPayment(+amountOfPaymentFixed.value,utility.utilityName,dateFixed.value);
                            modalRef.hide();amountOfPaymentFixed.value='';">Yes</button>
			    					<button type="button" class="button modal-button"
                            (click)="modalRef.hide();amountOfPaymentFixed.value='';">No</button>

			    				</div>
			    			</ng-template>

			    			<ng-template #confirmFixedPaymentUpdate>
			    				<div class="modal-header">
			    					<h4 class="modal-title">Payment Update Confirmation</h4>
			    				</div>
			    				<div class="modal-body text-center">
			    					<h6 class="text-left modal-body-text">You have already did payment with entered requisites:</h6>
			    					<div class="detail-item text-left"><span>Amount:</span><p class="detail-item-data">{{paymentAmount}}$</p></div>
			    					<div class="detail-item text-left"><span>Date:</span><p class="detail-item-data">{{dateFixed.value}} {{currentYear}}</p></div>
			    					<div class="detail-item text-left"><span>Utility:</span><p class="detail-item-data">{{utility.utilityName}}</p></div>
			    				</div>
			    				<div class="modal-footer text-center">
			    					<h6 class="text-left modal-footer-text">Do you want to make additional payment?</h6>
			    					<div class="detail-item text-left"><span>Payment amount:</span><p class="detail-item-data">{{+amountOfPaymentFixed.value}}$</p></div>
			    					<button type="button" class="button modal-button"
                            (click)="updatePayment(+amountOfPaymentFixed.value,utility.utilityName,dateFixed.value);
                            modalRef.hide();amountOfPaymentFixed.value='';">Yes</button>
			    					<button type="button" class="button modal-button"
                            (click)="modalRef.hide();amountOfPaymentFixed.value='';">No</button>
			    				</div>
			    			</ng-template>


			    			<button type="submit" class="button"
                        [ngClass]="{'cursor-off': disableButtonOnFailedValidation(validatorFixedPaymentAmount[0],amountOfPaymentFixed.value)}"
                        (click) = "decideWhichConformationModalOpen(+amountOfPaymentFixed.value,
                        utility.utilityName,
                        dateFixed.value,
                        confirmFixedPaymentAdd,
                        confirmFixedPaymentUpdate);">Pay</button>

			    		</div>
			    	</div>
			    </div>
			  </div>

		  </div>

		</div>

		<ng-template  #modalWindowIfUtilitiesListEmpty>
			<div class="modal-header">
				<h4 class="modal-title">You haven't added any utilities yet</h4>
			</div>
			<div class="modal-body text-center">
				<span class="text-center">Do you want to add new utility?</span><br>
				<button type="button" class="button modal-new-user-button" routerLink="/settings" (click)="modalRef.hide();">Yes</button>
				<button type="button" class="button modal-new-user-button" (click)="modalRef.hide();">No</button>
			</div>
		</ng-template>

	</div>
</section>
