.pay-page-holder
	margin-top: 70px
	position: relative
	.pay-page-holder__content
		display: inline-block	
		.utility-holder
			min-width: 542px
			min-height: 300px
			text-align: center
			background-color: #fff
			padding: 20px 30px
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
		  transition: 0.3s
		  overflow: hidden
			&:hover
				transition: all 0.4s ease
				transform: scale(1.03)
				background-color: lighten(#719DCA,15%)
				.utility-holder__header
					h3
						color: #fff !important	
				h3,p,h5
					transition: all 0.4s ease
					color: #fff !important
			.datepicker
				height: 55px
				margin-top: 20px
				select
					display: inline-block
					width: 100px
					height: 35px
					padding: 3px 0 3px 15px
				input
					display: inline-block
					margin-left: 15px
				p
					font-size: 18px
					display: inline-block
					margin-right: 15px

			.utility-holder__header
				border-bottom: 1px solid #719DCA
				padding-bottom: 10px
				display: flex
				justify-content: space-between
				align-items: center
				width: 100%
				margin-bottom: 25px
				border-bottom: 1px solid #719DCA
				button
					outline: none
					position: absolute
					top: 0
					right: 15px
					background-color: transparent
					border: none
					cursor: pointer
					height: 15px
					width: 25px
					span
						font-size: 30px
				h3
					font-size: 32px
					color: darken(#D7DADC,20%)!important
					margin: 0
			h5
				color: darken(#D7DADC,20%)
				font-size: 24px
			input
				padding: 4px 10px
				width: 100%
				margin-top: 15px
				outline: none
			.total-holder
				height: 50px
				color: darken(#D7DADC,20%)
				display: flex
				justify-content: space-between
				padding: 0 70px
				margin-top: 25px
				span
					color: #000
				p
					margin: 0
			.utility-holder__left-side
				border-right: 1px solid #719DCA

		.utility-holder--fixed
			.utility-holder-content__left-side		
				text-align: center
				border-right: none
				input
					margin: 15px auto 0 auto
					width: 50% 


.modal-body,.modal-footer
	padding: 15px 35px
	margin: 15px 0 10px 0
	display: block
	h6
		font-weight: bold
		margin-bottom: 20px
	.detail-item
		padding: 0 40px
		p
			display: inline-block
			width: 100%
			text-align: right
			margin-bottom: 7px
	button
		margin: 30px 10px 0 10px
		width: 120px
		&:hover
			width: 120px

.modal-footer
	padding-top: 30px
	margin-top: 0

.calculation-helper
	padding: 15px 5px