.pay-page-holder
	margin-top: 50px
	.pay-page-holder__content
		display: inline-block	
		.utility-holder--fixed
			.utility-holder-content__left-side		
				text-align: center
				border-right: none
				input
					margin: 15px auto 0 auto
					width: 50% 

		.utility-holder
			min-height: 300px
			text-align: center
			background-color: #fff
			padding: 20px 30px
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
		  transition: 0.3s
		  overflow: hidden
			&:hover
				transition: all 0.4s ease
				transform: scale(1.03)
				background-color: lighten(#719DCA,15%)
				h3,p,h5
					transition: all 0.4s ease
					color: #fff !important
			.datepicker
				height: 55px
				margin-top: 20px
				select
					display: inline-block
					width: 100px
					height: 35px
					padding: 3px 0 3px 15px
				input
					display: inline-block
					margin-left: 15px
				p
					font-size: 18px
					display: inline-block
					margin-right: 15px

			.utility-holder__header
				border-bottom: 1px solid #719DCA
				margin-bottom: 20px
				.card-title
					width: 100%
					text-align: left!important
					h3			
						font-size: 35px
						padding-bottom: 10px
						color: darken(#D7DADC,20%)
						display: inline-block
						width: 50%
			h5
				color: darken(#D7DADC,20%)
				font-size: 24px
			input
				padding: 4px 10px
				width: 100%
				margin-top: 15px
				outline: none
			.total-holder
				height: 50px
				color: darken(#D7DADC,20%)
				display: flex
				justify-content: space-between
				padding: 0 70px
				margin-top: 25px
				span
					color: #000
				p
					margin: 0
			.utility-holder__left-side
				border-right: 1px solid #719DCA







// .history-holder
// 	.history-items-holder
// 		.row
// 			margin-bottom: 40px
// 			background-color: #fff
// 			padding: 20px 30px
// 			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
// 			transition: 0.3s
// 			overflow: hidden
// 			&:hover
// 				transition: all 0.4s ease
// 				transform: scale(1.03)
// 				background-color: lighten(#719DCA,15%)
// 				h3,p,h5
// 					transition: all 0.4s ease
// 					color: #fff !important
// 					.confirmation-holder
// 						span
// 							transition: all 0.4s ease
// 							color: #fff !important
// 							.history-item
// 								text-align: center