<html lang="en">
  <head></head>
  <body>
    <div class="main-holder">
      <nav class="navbar navbar-dark  navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" routerLink="/pay">BillKeeper</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" [routerLinkActive]="['active-link']" routerLink="/pay" href="#">Pay</a>
              <a class="nav-item nav-link" [routerLinkActive]="['active-link']" routerLink="/history" href="#">History</a>
              <a class="nav-item nav-link" [routerLinkActive]="['active-link']" routerLink="/settings" href="#">Tariffs</a>
            </div>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>


