.navbar
	padding: 5px
	background-color: #719DCA
 
	a
		color: #fff
	.navbar-brand
		font-family: 'Pacifico', cursive
		font-size: 24px
	.navbar-nav
		input
			height: 32px
			width: 150px
			font-size: 14px
		.nav-item
			border-right: 1px solid #fff
			padding: 0 15px
			font-size: 16px
			&:nth-child(4)
				border: none
			&:hover
				color: lighten(#FEB941,10%)
				transition: color 0.3s ease
			&:active
				color: darken(#FEB941,10%)
				transition: color 0.3s ease

