<div class="container">

	<div class="add-new-utility-holder">		
		<button class="button"  (click)="openModalWithClass(addNewUtilityModal)">Add Utility</button>
	</div>

	<div class="utility-tariffs">
		<div class="row">
			<div class="col-lg-6 mb-4" *ngFor="let utility of tariffs;">

				<!-- Variable Price Utility -->
				<div class="utility-tariffs__item" *ngIf = "utility.fixedPayment===false">
					<h3 class="utility-tariffs__card-title">{{utility.utilityName}}</h3>  
					<div class="row">
						<div class="utility-tariffs__input-holder col-6">				
							<input class="form-control" [ngClass]="{'invalid': validatorVariableCounter && selectedUtility===utility.utilityName }" placeholder="Previous month counter" #counterAnount> 
							<div class="error" [ngClass]="{ 'show': validatorVariableCounter && selectedUtility===utility.utilityName,'hide': !(validatorVariableCounter && selectedUtility===utility.utilityName) }">
								Only numbers allow
							</div>
							<input class="form-control" [ngClass]="{'invalid': validatorVariableTariff && selectedUtility===utility.utilityName }" placeholder="Enter tariff" #tariffAmount >	
							<div class="error" [ngClass]="{ 'show': validatorVariableTariff && selectedUtility===utility.utilityName,'hide': !(validatorVariableTariff && selectedUtility===utility.utilityName) }">
								Only numbers allow
							</div>
						</div>
						<div class="utility-tariffs__data-holder col-6">	
							<p>Previous Month: {{utility.counterForPreviousMonth}}</p>
							<p>Tariff: {{utility.tariff}}</p>
						</div>
					</div>
					<button type ="submit" class="button"  (click) = "formValidationVariable(utility.utilityName,utility.fixedPayment,+counterAnount.value,+tariffAmount.value);">Submit</button>	
				</div>

				<!-- Fixed Price Utility -->
				<div class="utility-tariffs__item" *ngIf = "utility.fixedPayment===true">
					<h3 class="utility-tariffs__card-title">{{utility.utilityName}}</h3>  
					<div class="row utility-tariffs-content ">
						<div class="utility-tariffs__input-holder col-6">		
							<input class="form-control" [ngClass]="{'invalid': validatorFixedTariff && selectedUtility===utility.utilityName }" placeholder="Enter fixed price" #fixedPriceInput>
							<div class="error" [ngClass]="{ 'show': validatorFixedTariff && selectedUtility===utility.utilityName,'hide': !(validatorFixedTariff && selectedUtility===utility.utilityName) }">
								Only numbers allow
							</div>
						</div>
						<div class="utility-tariffs__data-holder col-6">	
							<p>Fixed Amount: {{utility.tariff}}</p>
						</div>
					</div>		
					<button class="button"  (click) = "formValidationFixed(utility.utilityName,utility.fixedPayment,counterPreviousMonth?.value,fixedPriceInput.value);">Submit</button>
				</div>

			</div>
		</div>
	</div>


	<ng-template #addNewUtilityModal>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Add new utility</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();addNewUtility.reset();">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" [formGroup]="addNewUtility">
			<div class="modal-body__header">
				<span>Utility name:</span>
				<input placeholder="Enter utility Name" formControlName="utilityName">
				<div class="error" *ngIf="isControlInvalidNewUtility('utilityName')">
					<p>Only letter and dash alllow</p>
				</div>
			</div>
			<div class="modal-body__inputs">
				<input  type="checkbox" id="checkbox_id" formControlName="fixedPrice">
				<label for="checkbox_id">Is it suppose to be fixed payment?</label>
			</div>
		</div>
		<div class="modal-footer">
			<button class="button" (click) = "onSubmitnewUtility();">Add</button>
		</div>
	</ng-template>

</div>





